<html>

        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
              
                <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
              
                <title>Create new item</title>
                <link rel="stylesheet" href="../../../../static/style1.css">
                
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                     
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="{{url_for('restaurants')}}">Home</a></li>
                        
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('raterList')}}">Raters</a></li>
                      </ul>
                    </div>
                </nav>
        </head>
        <body class="parallax-body pimg1 parallax-img parallax-landing" style='background-image:url(../../../../static/img/personal_web_img.jpeg)'>
<div class="ptext" style="top:20%"><h1>New Menu Item</h1></div>


<div class = "registration">
<form action="{{url_for('showMenu',business_id=business_id)}}" method = 'post' style="font-size: 20px; line-height: 2em">

<div><p>Name:</p>
  <input type ='text' size='30' name='name'></div>
  
  <div><p>Description:</p>
		<input type ='text' size='30' name='description'></div>
	
  
  <div><p>Price:</p>
		<input type ='text' size='30' name='price'></div>
  
    <div >
      <p>Category:</p>
      <input type ='radio'  name='category' value ='Appetizer'>Appetizer</br>
      <input type ='radio'  name='category' value ='Entree'>Entree</br>
      <input type ='radio' name='category' value ='Dessert'>Dessert</br>
      <input type ='radio'  name='category' value ='Beverage'>Beverage</br>
    </br>
  </div>
  
<input type='submit' value='Create' style="background-color: rgb(15, 117, 40); color: black; font-weight: bold; width: 45%;">

</form>
</div>
</body>
</html>