    <html>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
              
                <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
              
                <title>News</title>
                <link rel="stylesheet" href="../../static/style1.css">
                
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                     
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="{{url_for('restaurants')}}">Home</a></li>
                        
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('raterList')}}">Raters</a></li>
                      </ul>
                    </div>
                </nav>
        </head>

    <body>
        <div class="pane section-light" >

            <div class="ptext" style="top:20%">
            <h1>News</h1></div>

            <div class="largedata">
            <h2>{{restaurant.name}} has not been rated in 2015.</h2>
            
            <ul>
                <li>Phone number: {{location.phone_number}}</li>
                <li>Type: {{restaurant.food_type}} </li>
            </ul>

            <h2>John gave {{johns[3].name}}, opened on {{johns[2].first_open_date}}, the lowest rating.</h2>
            <h3>Other ratings given by Staff Peter</h3>
            {% for other in others %}
                <h4>
                    <li>Rating: {{other[2]}} || Name:  {{other[0].name}}</li>
                </h4>
            {% endfor %}

            <h2> Sushi Bars won the highest rating among all type food!</h2>
            </div>
                
        </div>
    </body>
</html> 

