<!DOCTYPE html>
<html class='parallax' lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
              
                <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
              
                <title>Raters</title>
                <link rel="stylesheet" href="../static/style1.css">
                
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="{{url_for('restaurants')}}">Home</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('raterList')}}">Raters</a></li>
                      </ul>
                    </div>
                </nav>
        </head>

    <body class="pimg1 parallax" style='background-image:url(../static/img/projects-landing.jpg)'>
        
            <h1 class="title" style="font-size: 100">Raters</h1>


            <div id="restaurantList">
                {% for rater in raterlist %}
                
                        <div id="listbox">
                            <p style="color: black; font-size: 35px; text-align: center;">   {{rater[0]}} </p>
                            
                        <div id="buttons" style="text-align: center;">
                            
                            <a class="button" href = {{ url_for ("deleteRater",user_id = rater[-1]) }}>Delete Rater</a>
                            <a class="button" > {{rater[2]}} ratings </a>
                            <a class="button"> Join date: {{rater[1]}} </a>
                        </div>
                    </div>
                {% endfor %}
                <a id="listbox" class="button" style="background-color:#09d80c; opacity: 1; font-size: 35px;" href="{{url_for('newRater')}}" > <h3 style="text-align: center"> Create a New Rater </h3> </a>
                </div>
        
    </body>
</html>

